*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header-container{
    flex-direction: column;
    display: flex;
    margin: 30px;
}
.header-details-container{
    display: inline;;
}
.header-details{
    background-color: #FFCA06;
    padding: 20px;
    display: block;
    

}
h1{
    font-size: 70px;
    color: #454042;
    text-align: center;
    font-weight: bold;
}

h2{
    background-color: #454042;
    color: #FFCA06;
    width: fit-content;
    padding: 10px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: bold;

}
.about p{
    color: #30343B;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-right: 40px;
}
p{
    margin-top: 20px;
    color: #454042;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.header-details p span{
    font-size: 18px;
    font-weight: 900;
}
.img-box{
    height: 500px;
    width: 100%;
    align-items: center;
    display: block;
}
img{
    left: 0;
    top: 0;
    height: 400px;
    width: auto;
    object-fit: revert;
    position: static;

}
.skill-progress-cover{
   position: relative;
   width: 30%;
   border: 2px solid #FFCA06;
   border-radius: 10px;
    
}
u{
    color: #fff;

}

h3{
    color: #fff;
    letter-spacing: 3px;
    font-size: 30px;
    display: block;
    font-weight: bold;
}
.body-container{
    padding: 20px;
    display: grid;
    background: #30343B;
    column-gap: 50px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.skill p {
    color: #fff;

}
.gender p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.age p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
.football p{
   position: relative;
   width: 20%;
   border: 2px solid #FFCA06;
   border-radius: 10px;
}
h4{
    
    color: #30343B;
    font-size: 30px;
    text-align: center;
    margin-right: 85px;
    

}
.link {
 background-color: #30343B;
 color: #FFCA06;
 padding: 5px;
 padding-bottom: 5px;
}
